<html>
{% load staticfiles %}
{% load bootstrap3 %}

<head>
    <title>CivBudget</title>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
          rel="stylesheet">
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>
<div class="page-header">
    <div class="container">
        <div class="row">
            <h1>
                <div class="col-xs-11">Civ inspired Budget
                    <small>Daily turns for a better overview</small>
                </div>
                <div class="col-xs-1">
                    <div class="dropdown">
                        <button class="btn btn-default" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-menu-hamburger"
                          aria-hidden="true"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li>
                                <a data-toggle="modal" data-target="#modal-logout"> Log Out </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </h1>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-logout" tabindex="-1" role="dialog" aria-labelledby="Log Out">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-logout-label">Log Out</h4>
            </div>
            <div class="modal-body">
                Do you want to Log Out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="{% url 'budget:logout' %}">Log Out</a>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <p>
        Balance of this Week: {{ balance_of_week }}€
    </p>
    <p>
        Balance of this Month: {{ balance_of_month }}€
    </p>
    <div class="table-responsive" style="overflow: visible">
        <table class="table table-bordered table-striped">
            <thead>
            <th>Booking</th>
            <th>Date</th>
            <th>Value (Total: {{ booking_total }}€)</th>
            <th><span class="glyphicon glyphicon-menu-hamburger"
                      aria-hidden="true"></span></th>
            </thead>
            {% for booking in bookings_of_day %}
                {% if booking.value < 0 %}
                    <tr class="danger">
                        {% else %}
                    <tr class="success">
                {% endif %}
            <td>{{ booking.name }}</td>
            <td>{{ booking.date | date:"d.m.Y" }}</td>
            <td>{{ booking.value }}€</td>
            <td>
                <a href="{% url 'budget:delete_booking' booking.id %}" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"
                                          aria-hidden="true"></span>
                </a>
            </td>
            </tr>
            {% endfor %}
            <tr>
                <form class="form-inline" action="{% url 'budget:add_booking' %}" method="post">
                    {% csrf_token %}
                    <td><input name="name" type="text" class="form-control" placeholder="New Booking" required/>
                    </td>
                    <td>
                        <div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input name="date" type='text' class="form-control"
                                           value="{{ today | date:"d.m.Y" }}" required/>
                                    <span class=" input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker({
                                        locale: 'de'
                                    });
                                });
                            </script>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input name="value" type="number" class="form-control" placeholder="Value" step="0.01"
                                   required/>
                            <div class="input-group-addon">€</div>
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus"
                                          aria-hidden="true"></span>
                        </button>
                    </td>
                </form>
            </tr>
        </table>
    </div>


    <div class="panel-group" id="accordion-rate" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <a role="button" data-toggle="collapse" data-parent="#accordion"
               href="#rate-content"
               aria-expanded="false"
               aria-controls="rate-content">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title"> Rates
                    </h4>
                </div>
            </a>
            <div id="rate-content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-rate">
                <div class="table-responsive">

                    <table class="table table-bordered table-striped">
                        <thead>
                        <th>Rate</th>
                        <th>Value</th>
                        <th>Days</th>
                        <th>Daily Value (Total: {{ magic_number }}€)</th>
                        <th><span class="glyphicon glyphicon-menu-hamburger"
                                  aria-hidden="true"></span></th>
                        </thead>

                        {% for rate in rate_list %}
                            {% if rate.daily_value < 0 %}
                                <tr class="danger">
                                    {% else %}
                                <tr class="success">
                            {% endif %}
                        <td>{{ rate.name }}</td>
                        <td>{{ rate.value }}€</td>
                        <td>{{ rate.days }}</td>
                        <td>{{ rate.daily_value }}€</td>
                        <td>
                            <a href="{% url 'budget:delete_rate' rate.id %}" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"
                                          aria-hidden="true"></span>
                            </a>
                        </td>
                        </tr>
                        {% endfor %}
                        <tr>

                            <form class="form-inline" action="{% url 'budget:add_rate' %}" method="post">
                                {% csrf_token %}
                                <td><input name="name" type="text" class="form-control" placeholder="New Rate"
                                           required/>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input name="value" type="number" class="form-control" placeholder="Value"
                                               step="0.01"
                                               required/>
                                        <div class="input-group-addon">€</div>
                                    </div>
                                </td>
                                <td><input name="days" type="number" class="form-control" placeholder="Days" required/>
                                </td>
                                <td>Will be calculated</td>
                                <td>
                                    <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus"
                                          aria-hidden="true"></span>
                                    </button>
                                </td>
                            </form>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion-graph" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-graph">
                <h4 class="panel-title"> Graphs
                </h4>
            </div>
            <div id="graph-content" class="panel-default" role="tabpanel"
                 aria-labelledby="heading-graph">
                {{ chart.as_html }}
            </div>
        </div>
    </div>


</div>
</body>
</html>